
~$data-German-spell-sound-pairing-r1a-ngram-1k-mc.xlsx
~$data-English-spell-sound-NC-pairing-r6f-1gram.xlsx
English/~$data-English-spell-sound-ONC-pairing-r6g-1gram.xlsx
README-BBEditPreviewTemp.md.html
English/~$instances-ONC-NC-appended-r6g-spell-size-classified.xlsx
